.text-center {
  text-align: center;
}

.shadow {
  box-shadow: 2px 2px 15px $black-op-30;
}

.full-width {
  height: auto;
  width: 100%;
}

.m-b {
  margin-bottom: 2.5em;

  @include media-breakpoint-up(md) {
    margin-bottom: 5em;
  }
}

.m-t {
  margin-top: 2.5em;

  @include media-breakpoint-up(md) {
    margin-top: 5em;
  }
}

.m-b-md {
  margin-bottom: 2em;

  @include media-breakpoint-up(md) {
    margin-bottom: 3em;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 4em;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 5em;
  }
}

.m-t-sm {
  margin-top: 1.125em;

  @include media-breakpoint-up(xl) {
    margin-top: 2.125em;
  }
}

.m-r--5 {
  margin-right: -5px;
}

.center {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.is-hide {
  display: none;
}

.transition-all {
  transition: all .2s ease;
}

.is-loading {
  animation: loader 500ms linear infinite;
  background-color: transparent;
  border: 2px solid $sushi;
  border-radius: 50%;
  border-right-color: transparent;
  display: block;
  height: 35px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 35px;
}

.is-success {
  animation: none;
  border-right-color: $sushi;

  &::before {
    animation: check-mark 500ms linear forwards;
    border: solid $sushi;
    border-width: 2px 2px 0 0;
    content: '';
    display: block;
    height: 6px;
    left: 50%;
    margin-left: -5px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(125deg);
    width: 10px;
  }
}

@keyframes check-mark {
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
