.text-center {
  text-align: center;
}

.shadow {
  box-shadow: 2px 2px 15px $black-op-30;
}

.full-width {
  width: 100%;
}

.m-t-lg {

}

.m-b-lg {
  margin-bottom: 8.75em;
}

.m-t-md {
  margin-top: 4.375em;
}

.m-b-md {
  margin-bottom: 5em;
}
