// colors
$ecru-white: #f0eedc;
$tradewind: #56afae;
$shadow-green: #9fc8c5;
$white: #fff;
$black: #000;
$elephant: #0f3047;
$sushi: #a8af38;
$firefly: #091a25;
$wild-willow: #c2c46f;
$gimblet: #b4b666;
$summer-green: #95b7b4;
$wedgewood: #499594;
$red: #f00;
$carnation: #f56767;
$milano-red: #ca0909;
$sanset-orange: #f94241;
$gray: #8c8c8c;
$deep-fir: #001d02;
$shark: #292a2c;
$shadow-green: #9ec9c6;


//colors with opacity 
$black-op-90: rgba(0, 0, 0, .9);
$black-op-70: rgba(0, 0, 0, .7);
$black-op-30: rgba(0, 0, 0, .3);
$black-op-40: rgba(0, 0, 0, .4);
$black-op-20: rgba(0, 0, 0, .4);
$elephant-op-55: rgba(15, 48, 71, .55);
$shark-op-10: rgba(41, 42, 44, .1);

//fonts 
$font-size-xxx-sm: 1.1rem;
$font-size-xx-sm: 1.2rem; // 12
$font-size-x-sm: 1.4rem; // 14
$font-size-sm: 1.5rem;  // 15
$font-size-regular: 1.6rem;  // 16
$font-size-tel: 1.7rem; // 17
$font-size-btn: 1.8rem; // 18
$font-size-md: 1.9rem; // 19
$font-size-x-md: 2.1rem;  // 21
$font-size-lg: 2.6rem; // 26
$font-size-x-lg: 2.7rem; // 27
$font-size-xx-lg: 5rem; // 50
