.basic-btn {
  background-color: $sushi;
  background-image: linear-gradient($wild-willow 0%, $sushi 100%);
  border: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 0 $black-op-20;
  color: $white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-sm;
  letter-spacing: .02em;
  line-height: 1;
  min-width: 12.5em;
  padding: 1.1em 1.7em 1.2em;

  @include media-breakpoint-up(sm) {
    padding: 1.1em 2.1em 1.2em;
  }

  &:hover,
  &:focus {
    background-color: $sushi;
    background-image: linear-gradient($gimblet 0%, $sushi 100%);
  }

  &_theme_secondary {
    background-color: $shadow-green;
    background-image: linear-gradient($shadow-green 0%, $tradewind 100%);

    &:hover,
    &:focus {
      background-color: $wedgewood;
      background-image: linear-gradient($summer-green 0%, $wedgewood 100%);
    }
  }

  &_theme_third {
    background-color: $red;
    background-image: linear-gradient(to top, $red 0%, $carnation 100%);
    border-radius: 28px;
    padding-bottom: 1.1em;

    &:hover,
    &:focus {
      background-color: $sanset-orange;
      background-image: linear-gradient(to top, $milano-red 0%, $sanset-orange 100%);
    }
  }

  &_theme_reset {
    background: none;
    box-shadow: none;

    &:hover,
    &:focus {
      background: none;
      box-shadow: none;
    }
  }


}


