.basic-btn {
  background-color: $sushi;
  background-image: linear-gradient($wild-willow 0%, $sushi 100%);
  border: 0;
  border-radius: 30px;
  box-shadow: 3.078px 3.94px 5px 0 $black-op-30;
  color: $white;
  cursor: pointer;
  font-family: 'Roboto Bold', sans-serif;
  font-size: $font-size-btn;
  letter-spacing: .02em;
  line-height: 1;
  padding: 1.2em 2.1em;
}
