.get-pdf {
  margin-bottom: 2.5em;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  &__title {
    color: $elephant;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-md;
    margin-bottom: 2em;
    margin-top: 0;
  }

  &__img {
    display: block;
    margin: 0 auto 1.5em;

    @include media-breakpoint-up(md) {
      margin-bottom: 3em;
    }
  }
}

