.headline {
  color: $ecru-white;
  font-family: 'Roboto Black', sans-serif;
  font-size: $font-size-md;
  letter-spacing: .065em;
  line-height: 1.4;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }

  @include media-breakpoint-up(xl) {
    font-size: $font-size-x-lg;
  }
}
