.logo {
  color: $ecru-white;
  font-size: $font-size-regular;
  text-align: center;
  
  @include media-breakpoint-up(md) {
    text-align: left
  }

  &__img {
    margin-right: .3em;
    vertical-align: middle;
    width: 65px;

    @include media-breakpoint-up(md) {
      margin-right: 1em;
    }

    @include media-breakpoint-up(xl) {
      height: 88px;
      margin-right: 1.75em;
      width: 85px;
    }
  }

  &__text {
    display: inline-block;
    font-size: $font-size-x-sm;
    line-height: 1.75;
    text-align: left;
    vertical-align: middle;

    @include media-breakpoint-up(xl) {
      font-size: $font-size-regular;
    }
  }

  &__text_header {

    @include media-breakpoint-up(md) {
      margin-right: -45px;
    }
  }
}
