.logo {
  color: $ecru-white;
  font-size: $font-size-regular;

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  &__img {
    margin-right: 1.75em;
    vertical-align: middle;

    @include media-breakpoint-down(lg) {
      margin-right: 1em;
      width: 65px;
      height: 68px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 1em;
      width: 65px;
      height: 68px;
    }

    @include media-breakpoint-down(xs) {
      margin-right: .3em;
      width: 42px;
    }
  }

  &__text {
    display: inline-block;
    line-height: 1.75;
    vertical-align: middle;

    @include media-breakpoint-down(lg) {
      font-size: $font-size-x-sm;
    }

    @include media-breakpoint-down(md) {
      font-size: $font-size-x-sm;
    }

    @include media-breakpoint-down(xs) {
      font-size: $font-size-x-sm;
      text-align: left;
    }
  }

  &__text_header {
    margin-right: -45px;
  }
}
