.modal {
  background-color: $sushi;
  border-radius: 5px;
  color: $white;
  font-size: $font-size-regular;
  line-height: 1;
  padding: 5.625em 3.875em 7.875em;


  &__headline {
    font-family: 'Roboto Black', sans-serif;
    font-size: $font-size-xx-lg;
    letter-spacing: .02em;
    margin-bottom: .4em;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__subheadline {
    font-family: Roboto, sans-serif;
    font-size: $font-size-md;
    letter-spacing: .02em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__form {
    margin-top: .9em;
  }
}
