.paragraph {
  color: $ecru-white;
  font-family: Roboto, sans-serif;
  font-size: $font-size-regular;
  line-height: 1.6;

  @include media-breakpoint-up(md) {
    margin-top: .45em;
  }

  &_color_tradewind {
    color: $tradewind;
  }
}


