.section-headline {
  color: $elephant;
  font-family: 'Roboto Black', sans-serif;
  font-size: $font-size-x-lg;
  letter-spacing: .04em;
  line-height: 1.4;
  margin: 1.1em 0;
  text-transform: uppercase;

  &_light {
    color: $ecru-white;
  }
}

