.section-headline {
  color: $elephant;
  font-family: 'Roboto Black', sans-serif;
  font-size: $font-size-x-lg;
  letter-spacing: .04em;
  line-height: 1.4em;
  margin: 1.14em 0;
  text-transform: uppercase;
}

.section-headline_light {
  color: $ecru-white;
}
