.telephones {
  color: $ecru-white;
  font-family: 'Roboto Bold', sans-serif;
  font-size: $font-size-x-md;

  @include media-breakpoint-down(lg) { 
    margin-top: .4em;
  }

  @include media-breakpoint-down(md) { 
    margin-top: .4em;
  }

  @include media-breakpoint-down(sm) { 
    margin-top: 1em;
  }

  @include media-breakpoint-down(xs) { 
    text-align: center;
  }

  &__item {
    color: inherit;
    display: block;
    letter-spacing: .9px;
    text-decoration: none;

    @include media-breakpoint-down(lg) { 
      font-size: $font-size-regular;
    }

    @include media-breakpoint-down(md) { 
      font-size: $font-size-regular;
    }
  }

  &_header_theme {
    padding-left: 4.6em;
    position: relative;

    @include media-breakpoint-down(lg) {
      padding-left: 3.8em;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }

    &::before {
      background-image: url('../images/phone-icon.svg');
      background-size: cover;
      content: '';
      fill: $ecru-white;
      height: 52px;
      left: 0;
      position: absolute;
      width: 49px;

      @include media-breakpoint-down(lg) {
        height: 42px;
        left: 30px;
        width: 39px;
      }
      
      @include media-breakpoint-down(md) {
        height: 42px;
        left: 30px;
        width: 39px;
      }

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}
