.telephones {
  color: $ecru-white;
  font-family: 'Roboto Bold', sans-serif;
  margin-top: 1em;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-top: .5em;
    text-align: right;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    text-align: right;
  }

  &__item {
    color: inherit;
    display: block;
    font-size: $font-size-md;
    letter-spacing: .9px;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      font-size: $font-size-regular;
      line-height: 1.5;
    }

    @include media-breakpoint-up(lg) {
      line-height: 1.9;
    }
  }

  &_header_theme {
    padding-left: 0;
    position: relative;

    &::before {
      background-image: url('../images/phone-icon.svg');
      background-size: cover;
      content: '';
      display: none;
      fill: $ecru-white;
      position: absolute;

      @include media-breakpoint-up(md) {
        display: block;
        height: 52px;
        left: -40px;
        width: 46px;
      }

      @include media-breakpoint-up(lg) {
        top: 6px;
        left: -60px;
      }

      @include media-breakpoint-up(xl) {
        left: -30px;
      }
    }
  }
}
