.header {
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  padding-top: 1.625em;
  position: relative;

  &::before {
    background-color: $black-op-70;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__logo {
    padding-right: 0;
  }

  &__headline {
    margin-top: 155px;
  }

  &__basic-btn {
    margin-top: 38px;
  }
}
